/out
/node_modules
/dist
/.vscode-test-web
*.vsix

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/syntaxes/.antlr/*
/private
/src/_generated