# This is a safeguard, which makes packaging fail if you use the default configuration.
# Instead, use the packaging scripts defined in the package.json file, which uses the real configurations in the vscodeignore folder.
dist
